# working files
src_proteins_cache.faa
*.fai

# directories not to keep
iqtree.LG_I_G4_F/
iqtree.MFP/

# most iqtree files in protein_group subdirectories
protein_groups/*/*.bionj
protein_groups/*/*.contree
#protein_groups/*/*.iqtree
protein_groups/*/*.log
protein_groups/*/*.mldist
protein_groups/*/*.splits.nex
#protein_groups/*/*.treefile
